@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@500&display=swap');

html {
  background-color: #130125;
  color:white;
  width: 1519px;
}

.App {
  margin: 32px 80px 42px 80px;
  font-family: 'Courier Prime', monospace;
  background-color: #130125 ;
  display: flex;
  flex-direction: column;
}
/* Header */
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header button {
  font-family: 'Inter', sans-serif;
  border: none;
  background-color: #130125;
  color:white;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
}

.HeaderButtons {
  display: flex;
  align-items: center;
}

/* Page1 */

.Page1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Page1 h1 {
  margin-top: 160px;
  margin-bottom: 32px;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

.Page1 p {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.Page1 button {
  background-color: #FD5A14;
  color: white;
  border: none;
  margin-bottom: 160px;
  width: 200px;
  height: 56px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* About me */

.AboutMe{
  display: flex;
  flex-direction: row;
  margin: 169px 0 169px 0;
}

.AboutMeText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.AboutMeText h1{
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}



.AboutMeLine{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.AboutMeLINE {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.AboutMeL {
  display: flex;
  flex-direction: column;
}

.AboutMeLine {
  display: flex;
  flex-direction: row;
  gap: 12px;
}



.number{
  color: white;
  height: 22px;
  width: 22px;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}

.Photo {
  border-radius: 20px;
}


